/*--------------------------------------------------------------
# proxEvento
--------------------------------------------------------------*/

.proxEvento {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #2a4433;
}
.proxEvento .content {
  background-color: #f6f9ff;
  padding: 40px;
  min-width: 50vw;
}

.proxEvento h3 {
  font-size: 14px;
  font-weight: 700;
  color: #1a4d21;
  text-transform: uppercase;
}

.proxEvento h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2d2e30;
}

.proxEvento p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.proxEvento .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  pointer-events: none;
  background: #353536;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.proxEvento .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.proxEvento .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.proxEvento .btn-read-more:hover i {
  transform: translateX(5px);
}
